html, body, h1, h2, header, body, footer, p, nav, ul, li, a {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

nav {
	background: url("images/nav2.jpg");
    text-align: center;
    overflow: auto;
    position: relative;
    font-family: 'Sans-serif', "Times New Roman", "serif";
}
    ul {
        list-style: none;
        margin: 17px;
    }
    li { 
        display: inline-block;
        padding: 25px; 
    }
    a {
        display: inline-block;
        margin: 0;
        padding: 5px 15px;
        color: #acc47c;
        font-weight: bold;
        text-decoration: none;
        background-color: #8a7179;
        font-size: 1.5em;
    }   

header {
    font-family: 'Oswald', "Times New Roman", "serif";
	text-align: center;
	padding: 2px 5px 2px;
	background: lightgray;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

h1 {
    font-family: 'Oswald', "Times New Roman", "serif";
	color: black;
    font-weight: bold;
	font-size: 3.5em; 
}

h2 {
	font-family: 'Oswald', "Times New Roman", "serif";
	color: black;
	text-align: center;
    font-size: 2em;
    font-weight: 300;
	padding: 10px 10px 10px 10px;
	margin: 0 0 0 0;
}

body {
	background: lightgray;
	font-family: 'Nunito', "Times New Roman", "serif";
}

.row {
    display: grid;
    grid-template-columns: auto auto auto;
    background: url("images/wood2.jpg");
    border-style: solid;
    border-color: #8a7179;
    border-radius: 5px;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.title {
    text-align: center;
    font-family: 'Oswald', "Times New Roman", "serif";
    font-size: 1.5em;
    font-weight: bold;
}

figure {
    text-align: center;
}

figcaption {
    display: block;
    text-align: center;
    font-style: italic;
    color: black;
    font-family: 'Nunito', "Times New Roman", "serif";
    font-size: .75em;
}

footer {
    display: inline-block;
	color: #8a7179;
	font-weight: bold;
	background: lightgray;
	text-align: center;
    width: 100%;
	padding: 10px 0 10px 0;
}

#container {
    width: 55%;
    float: left;
    font-family: 'Oswald', "Times New Roman", "serif";
    font-size: 1.55em;
    text-align: justify;
    font-weight: 300;
    padding: 8px 10px 8px 10px;
    border-style: solid;
    border-color: #8a7179;
    border-radius: 15px;
}

#picture {
    width: 40%;
    float: right;
    padding: 10px;
    background: #72ad50;
    border-style: solid;
    border-color: #8a7179;
    border-radius: 15px;
}

.pic {
    width: 400px;
    height: 350px;
    border: 2px;
    border-style: solid;
    border-color: #8a7179;
    border-radius: 15px;
}

.inspiration {
    font-family: 'Oswald', "Times New Roman", "serif";
    font-size: 1.32em;
    text-align: center;
    font-weight: 300;
    padding: 0 10px 10px 10px;
}

.row-hobbies {
    display: grid;
    grid-template-columns: auto auto auto;
    background: url("images/wood2.jpg");
    border-style: solid;
    border-color: #8a7179;
    border-radius: 5px;
}

img {
    width: 300px;
    height: 600px;
}
